html,
body {
  background-color: #282c37;
  font-family: 'Roboto', roboto, Arial, sans-serif;
  color: #ffffff;
  font-weight: lighter;
  overflow-x: hidden;
  font-size: 100%; }

* {
  margin: 0;
  padding: 0; }

a,
a * {
  color: #2b90d9; }

.meta {
  padding: 1rem;
  background-color: #39404d; }

.meta * {
  line-height: 2rem; }

.item {
  padding: 1rem;
  border-top: solid 1px #626d80; }

.item-content,
.description,
.title {
  font-size: 1.1rem;
  font-weight: lighter; }

.item-content * {
  margin: 1rem 0;
  line-height: 1.4rem; }

.item-title,
.date,
.author-fullname,
.description {
  color: #9baec8;
  font-size: 0.9rem; }

.date {
  margin: 1rem 0 0 0; }

.author {
  display: flex;
  margin: 1rem 0; }

.author-info {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .author-info .author-displayname {
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-weight: bolder; }

.avatar {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 10%; }

.enclosures {
  padding: 0.5em 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: hidden; }

.enclosure {
  display: flex;
  flex: 1 1 auto;
  width: 50%;
  display: inline-block;
  border: none;
  cursor: zoom-in;
  max-height: 12rem; }

.enclosure > * {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.meta .title {
  font-weight: bold; }
