html,
body {
  background-color: #22272a;
  font-family: Roboto, sans-serif;
  color: #eee;
}
* {
  margin: 0;
  padding: 0;
}
a,
a * {
  color: #09c;
}
.meta {
  padding: 1em;
  background-color: #292f32;
}
.meta * {
  line-height: 2em;
}
.item {
  padding: 1em;
  border-top: solid 2px #30373b;
}
.item-content,
.description,
.title {
  font-size: 1.2rem;
  font-weight: normal;
}
.item-content {
  max-width: 750px;
}
.item-content p {
  margin: 0.5em 0;
}
.item-title,
.date,
.author-fullname,
.description {
  color: #888888;
  font-size: 0.9rem;
}
.author {
  display: flex;
  margin: 1em 0;
}
.author-info {
  margin: 0.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.author-info .author-displayname {
  font-size: 1.2rem;
  color: #eee;
  text-decoration: none;
  display: block;
  font-weight: bolder;
}
.avatar {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 10%;
}
.enclosures {
  padding: 0.5em 0;
  display: flex;
  flex-direction: row;
  max-height: 200px;
  max-width: 700px;
  overflow: hidden;
}
.enclosure,
.enclosure > img {
  flex: 0 1 1;
  display: inline-block;
  border: none;
  cursor: zoom-in;
  max-height: 200px;
  max-width: 700px;
}
