$darkest: #282c37 !default; // darkest
$lightest: #d9e1e8 !default; // lightest
$lighter: #9baec8 !default; // lighter
$vibrant: #2b90d9 !default; // vibrant
$white: #ffffff !default; // white
$error: #df405a !default; // error red
$succ: #79bd9a !default; // succ green
$black: #000000 !default; // black
